id_rsa
id_rsa.pub
*.bak
local_env/agent/env_file
local_env/master/agent_connection_key
Thumbs.db
.DS_Store
.dist
.tmp
.sass-cache
misc/
npm-debug.log
node_modules
builds
package-lock.json
public
.env
resources
.idea/
tmp/*
reveal-slides/out
local_env/data/
