Thumbs.db
.DS_Store
.dist
.hugo_build.lock
.tmp
.sass-cache
npm-debug.log
node_modules
builds
public
.env
resources
.idea/
id_rsa
id_rsa.pub
*.bak
local_env/agent/env_file
local_env/master/agent_connection_key
tmp/*
misc/
**/misc
reveal-slides/out
local_env/data/
