+++
title = "Jenkins Techlab"
linkTitle = "Jenkins Techlab"

+++

{{< blocks/cover title="Welcome to the Jenkins Techlab" image_anchor="top" height="full" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Labs <i class="fas fa-flask ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/slides" >}}">
		Slides <i class="fas fa-file ml-2 "></i>
	</a>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="dark" %}}


{{% /blocks/lead %}}

{{< blocks/section color="light">}}
{{% blocks/feature icon="fa-chalkboard-teacher" url="/slides/" title="Slides" %}}
Get the slides for this training
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-sliders-h" title="Labs" url="/docs/" %}}
Start with your lab session
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-sliders-h" title="About" url="/about/" %}}

{{% /blocks/feature %}}


{{< /blocks/section >}}
